@import '../index.css';

#tabContainer{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  width:100%;
  height:100%;
   border: solid 1px red;
}


#browseContainer {
    height:100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    border: solid 1px red;
}

#browseContainer h1 {
  font-size: 3.5em;
}

#browseContainer h1 .inlineLink h1 {
  font-size: 0.3em;
}

.linkContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  line-height: 2.5em;
   border: solid 1px blue;
}

.back h1 {
  font-size: 0.5em;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: Organetto-Light;
     color: var(--primaryColor);
}

.back a {
     color: var(--primaryColor);
  text-decoration: none;
}

.inlineLink {
  display: flex;
  line-height: 3em;
}

.inlineLink h1:before,
.inlineLink h1:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.18em;
  top: 50%;
  margin-top: -0.5px;
  background: var(--secondaryColor);
}

.inlineLink h1 {
  position: relative;
  display: block;
  cursor: pointer;
}

.inlineLink h1:before {
  left: -4.5px;
}
.inlineLink h1:after {
  right: 2.5px;
  background: var(--secondaryColor);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.inlineLink h1:hover:before {
  background: var(--secondaryColor);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.inlineLink h1:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

.inlineLink h1 {
  font-family: Organetto-Bold;
     color: var(--primaryColor);
}

.inlineLink span {
  font-family: Organetto-Light;
     color: var(--primaryColor);
}


@media (min-width: 320px) and (orientation: portrait) {
  #tabContainer{
    font-size: 1.45em;
  }

  .back{
     margin: 11% 0;

  }

  .back h1{
    font-size: 1.5em;
  }
}

